/* 全てのページに対応させるCSSをここに */

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Silkscreen", "Slackside One", -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  font-size: x-large;
  background-color: #f0f0f0;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* aタグが光る */
.hover\:glow-effect:hover {
  text-shadow: 0 0 8px #F765A0, 0 0 12px #F765A0, 0 0 16px #F765A0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  body {
    font-size:large;
  }
}

.user-name {
  font-family: "DotGothic16", sans-serif;
}